{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Najot Ta'lim | Offers</title>

    <!-- CSS    -->
    <link rel="stylesheet" href="{% static 'css/offers/style.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap/templatemo-ebook-landing.css' %}" rel="stylesheet">
    
    <link rel="icon" href="{% static 'files/images/favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'css/carusel/carusel.css' %}">

</head>
<body>
<!--navbar-->

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="offer.html">
            <i><img src="{% static 'files/images/logo.png' %}" alt="404" style="width: 60px;"></i>
            <span>Najot Ta'lim</span>
        </a>

        <div class="d-lg-none ms-auto me-3">
            <a href="{% url 'users:login' %}" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                <i class="btn-icon bi-person"></i>
                <span>{% trans 'Log in' %}</span>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto me-lg-4">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'feedback_offer:index' %}">{% trans 'Home' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'feedback_offer:problems' %}">{% trans 'Write an offer' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'feedback_offer:index' %}">{% trans 'Landing page' %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'users:profile' %}">{% trans 'Profile' %}</a>
                </li>

                <li class="nav-item">
                    <select class="form-select language-select" aria-label="Select language">
                        <option value="en" selected>
                            English
                        </option>
                        <option value="uz">
                            Uzbek
                        </option>
                        <option value="ru">
                            Rus
                        </option>
                    </select>

                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- / navbar-->

<div class="container" style="margin-top: 120px;">
    <div id="button-container">
        <div class="select-category mr-5">
            <select class="form-select" id='data-selector' aria-label="Select category"
            name="category">
                <option value="offers" {% if selected_category == 'offers' %}selected{% endif %}>
                    {% trans 'Show Offers' %}</option>
                <option value="demands"> {% if selected_category == 'demands' %}selected{% endif %}
                    {% trans 'Show Demands' %}</option>
                <option value="my_offers"> {% if selected_category == 'my_offers' %}selected{% endif %}
                    {% trans 'Show My Offers' %}</option>
                <option value="my-written-comments" {% if selected_category == 'my-written-comments' %}selected{% endif %}>
                    {% trans 'Show My Written Comments' %}</option>
            </select>
        </div>
        <div class="input-group ml-5">
            <form method="GET" action="{% url 'feedback_offer:offers' %}">
                <input type="text" class="form-control" name="search" placeholder="Search..."
                       aria-label="Search"
                       aria-describedby="button-addon2" value="{{ search_query }}">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div id="card-container" class="row">
    {% if selected_category == 'offers' %}
        <h2 style="margin: 15px 5px">{% trans 'Offers' %}</h2>

        <!--   Offers      -->
        {% for offer in offers %}
        <div class="col-md-4 offer mb-4" style="margin-top: 25px;">
            <div class="card">
                <div class="img-avatar">
                    <img src="{% static 'files/images/white-logo.png' %}" alt="Avatar">
                </div>
                <div class="card-text">
                    <div class="title-total">
                        <a href="{% url 'feedback_offer:offer_detail' offer.id %}">
                        <div class="title">{{ offer.title }}</div>
                            <a href='#'>{{ offer.user.username }}</a>
                            <div class="desc">{{ offer.description }}</div>
                            <div class="actions">
                                <i class="bi bi-heart">5</i>
                                <i class="bi bi-eye">{{ offer.views_count }}</i>
                                <i class="bi bi-chat">5</i>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No offers available for this category.</p>
        {% endfor %}
    {% elif selected_category == 'demands' %}
        <h2>{% trans 'Problems' %}</h2>
        <!-- Demands       -->
        {% for demand in demands %}
        <div class="col-md-4 demand mb-4" style="margin-top: 25px;">
            <div class="card">
                <div class="img-avatar">
                    <img src="{% static 'files/images/white-logo.png' %}" alt="Avatar">
                </div>
                <div class="card-text">
                    <div class="title-total">
                        <div class="title">{{ demand.title }}</div>
                        <a href='#'>Demands</a>

                        <div class="desc">{{ demand.description }}
                        </div>
                        <div class="actions">
                            <i class="bi bi-heart">{{ demand.count_view }}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No demands available for this category.</p>
        {% endfor %}

        <!--  My Offers      -->
    {% elif selected_category == 'my_offers' %}
        {% for my_offer in my_offers %}
        <div class="col-md-4 my-offers mb-4" style="margin-top: 25px">
            <div class="card">
                <div class="img-avatar">
                    <img src="{% static 'files/images/white-logo.png' %}" alt="Avatar">
                </div>
                <div class="card-text">
                    <div class="title-total">
                        <div class="title">{{ my_offer.title }}</div>
                        <a href='#'>{{ my_offer.user.username }}</a>

                        <div class="desc">{{ my_offer.description }}
                        </div>
                        <div class="actions">
                            <i class="bi bi-heart">15</i>
                            <i class="bi bi-eye">25</i>
                            <i class="bi bi-chat">5</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No demands available for this category.</p>
        {% endfor %}


        <!--    My Written Offers       -->

        <div class="col-md-4 my-written-offers mb-4" style="display: none; margin-top: 25px">
            <div class="card">
                <div class="img-avatar">
                    <img src="{% static 'files/images/white-logo.png' %}" alt="Avatar">
                </div>
                <div class="card-text">
                    <div class="title-total">
                        <div class="title">Ant Collector</div>
                        <a href='#'>My Written Offer</a>

                        <div class="desc">Morgan has collected ants since they were six years old and now has many dozen
                            ants but none in their pants.
                        </div>
                        <div class="actions">
                            <i class="bi bi-heart">15</i>
                            <i class="bi bi-eye">25</i>
                            <i class="bi bi-chat">5</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="pagination" class="text-center mb-4" style="margin-top: 50px;">
        <button id="prev" class="btn" disabled>Previous</button>
        <button id="next" class="btn">Next</button>
    </div>
</div>
<div id="page-info" class="text-center"></div>

<!--footer-->

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Copyright © 2024, All Right Reserved Najot Ta'lim Feedback</span>
            </div>
            <!-- End Col -->
            <div class="col-md-6">
                <div class="copyright-menu">
                    <ul>
                       <li>
                            <a href="#"> {% trans 'Home' %}</a>
                        </li>
                        <li>
                            <a href="#">{% trans 'Terms' %}</a>
                        </li>
                        <li>
                            <a href="#">{% trans 'Privacy Policy' %}</a>
                        </li>
                        <li>
                            <a href="#">{% trans 'Contact' %}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
</div>

<!--footer-->

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/bootstrap/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/jquery.sticky.js' %}"></script>
<script src="{% static 'js/bootstrap/click-scroll.js' %}"></script>
<script src="{% static 'js/bootstrap/custom.js' %}"></script>

<!-- Local JavaScript -->
<script src="{% static 'js/all_offers/script.js' %}"></script>
</body>
</html>